<div class="row">
  <div class="col-lg-12 text-center">
    <h1>Boys and Girls Club of Austin Reporting</h1>
    <p class="lead">Powered by:<br>
    <a href="https://angularjs.org/">AngularJS</a>, <a href="http://krispo.github.io/angular-nvd3/">Angular-nvD3</a>, <a href="http://getbootstrap.com/">Bootstrap</a>, <a href="http://www.postgresql.org/">PostgreSQL</a>
  </p>
  </div>
</div>

<div class="row">
  <div class="col-sm-6 text-center">
    <a class="btn btn-primary btn-lg btn-main" href="#/school-results" role="button">School Results</a>
  </div>
  <div class="col-sm-6 text-center">
    <a class="btn btn-primary btn-lg btn-main" href="#/grade-results" role="button">Grade Results</a>
  </div>
</div>

<div class="row">
  <div>
    <nvd3 options="chart_options" data="chart_data"></nvd3>
  </div>
</div>